// File: src/pages/MainPage/MainPage.scss
@use '../../shared/assets/styles/variables';

.mainPage {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 2rem;
  padding: 0 1rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.calculationSection {
  background: variables.$surface;
  padding: 2rem;
  border-radius: 8px;
}

.visualizationSection {
  position: sticky;
  top: 2rem;
  height: fit-content;
}