// File: src/widgets/Layout/Layout.scss
@use '../../shared/assets/styles/variables';

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .mainContent {
    flex: 1;
    padding: 2rem 0;
    background: variables.$background;
  }
}